    .Daniquim{
        color: rgb(0, 196, 26);
        font-size: 100px;
        text-align: center;
        background-color: rgba(42, 27, 168, 0.322);
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        
    }
    #Daniquim{
        color:rgba(32, 85, 231, 0.685);
        font-size: 100px; 
        text-align: center;
    }
                                                    